@using Orchard.Utility.Extensions;
@using Summit.Core.Fields
@using Summit.Core.Helpers;
@{
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
	var images = ((ImageMultiPickerField)Model.ContentItem.HotelPart.Gallery).Images;
	var image = images.FirstOrDefault();
}
<article class="content-item @contentTypeClassName">
	@if (image != null)
	{
		@Html.ResizedImage(image.FilePath, width:120, height:120, htmlAttributes: new {alt = "Lolcats"}) 
	}
    <h3><a href="/@Model.ContentItem.AutoroutePart.Path">@Model.ContentItem.TitlePart.Title</a></h3>
</article>