@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }
    
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
<article class="content-item @contentTypeClassName">
    <img src="@Url.Content(Model.ContentItem.DestinationPart.Logo.Url)" style="width: 75px; height: 75px"/> 
    <h3><a href="@Model.ContentItem.AutoroutePart.Path">@Model.ContentItem.TitlePart.Title</a></h3>
</article>