@using Summit.Core.Extensions
@using Summit.Core.Models

Would you like to create a concierge for your new hotel?
<a class="add button primaryAction" href="@Url.ConciergeCreate((DestinationPart)Model.Destination)">@T("Yes")</a> 
<a class="add button secondaryAction" href="@Url.HotelCreate((DestinationPart)Model.Destination, null, true)">@T("No")</a> 