@using Summit.Core.Extensions
@{
    Script.Require("gmap3").AtFoot();
    IEnumerable<object> hotels = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("hotels");
    var mapJson = Html.ToMapJson(hotels);
}

@if (hotels == null || !hotels.Any())
{
    <p>@T("There are no hotels for this destination.")</p>
}
else {
     @Display.GoogleMap(Markers: mapJson, Width: "900", Height: "700")
}

   
         
         




